@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  height: 100vh;
}
.pl-5 {
  padding-left: 5px;
}
.hello {
  color: red;
  font-family: "Roboto";
}

.bg-white {
  background-color: white;

}
.text-black {
  color: black;
}

.absolute {
  position: absolute;
}

.z-10 {
  z-index: -1;
}




